
<header>

  <div class="relative px-6 py-8 sm:py-8 lg:px-8">

    <div class="mx-auto max-w-md text-center">

      <a href="/">
        <img src="assets/images/LOGO2.png" alt="Jordan and Chin" class="max-w-full">
      </a>

      <day-countdown class="day-countdown">
        <span class="day-countdown__block" data-days>
          --
          <span class="">days</span>
      </span>
      <span class="day-countdown__block" data-hours>
          --
          <span class="">hours</span>
      </span>
      <span class="day-countdown__block" data-minutes>
          --
          <span class="">minutes</span>
      </span>
      <span class="day-countdown__block" data-seconds>
          --
          <span class="">seconds</span>
      </span>
      </day-countdown>

    </div>

  </div>


  <section class="">


    <div class="max-w-6xl mx-auto relative overflow-hidden aspect-[4/3] md:aspect-[2/1]">

      <img src="/assets/images/weddinghero.jpg" alt="" class="h-full w-full object-cover object-center" loading="lazy">

      <div class="absolute inset-0 flex items-center justify-center bg-gray-900 bg-opacity-10">
        <h2 class="text-white uppercase text-2xl">Wedding Celebration</h2>
      </div>

    </div>

  </section>


  <section class="py-16">

    <div class="max-w-xl mx-auto px-5 flex justify-center items-center text-center">

          <img src="assets/images/LOGO1.png" alt="Jordan and Chin" class="max-w-full">

    </div>

  </section>

</header>
