---
---

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";




@font-face {
    font-family: "AbramoScript";
    src: url("../fonts/AbramoScript.eot");
    src: url("../fonts/AbramoScript.woff") format("woff"),
    url("../fonts/AbramoScript.otf") format("opentype"),
    url("../fonts/AbramoScript.svg#filename") format("svg");
}


@font-face {
    font-family: "AbramoSerif";
    src: url("../fonts/AbramoSerif.eot");
    src: url("../fonts/AbramoSerif.woff") format("woff"),
    url("../fonts/AbramoSerif.otf") format("opentype"),
    url("../fonts/AbramoSerif.svg#filename") format("svg");
}


body {
    background-color: #f3f0e8;
}




.font-abramo-script {
    font-family: "AbramoScript";
}

.font-abramo-serif {
    font-family: "AbramoSerif";
}

.content div {
    position: relative;
}




.content h3 {
    font-weight: bold;
}

.content a {
    text-decoration: underline;
}


