---
---

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";



body {
    font-family: 'Ysabeau Infant', sans-serif;
    background-color: #f3f0e8;
}



.content div {
    position: relative;
}




.content h3 {
    font-weight: bold;
}

.content a {
    text-decoration: underline;
}


