<!doctype html>
<html class="min-h-screen">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{{ page.title }}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap" rel="stylesheet">

  <link href="assets/css/main.css" rel="stylesheet">


  <style>
    .font-writing {
      font-family: 'Oooh Baby', cursive;
    }
  </style>



</head>

<body class="relative min-h-screen h-full w-full flex flex-col">


  {{ content }}


</body>
</html>

