---
layout: default
---

<style>

    body {
        font-family: 'Ysabeau Infant', sans-serif;
        font-weight: 200;
        background-color: #f3f0e8;
    }

</style>

{% include header.html %}

<main class="">
    {{ content }}
</main>


{% include footer.html %}


<script>


class DayCountdown extends HTMLElement {

    constructor() {
        super();
    }

    connectedCallback() {
        this.run();
    }


    run() {

        const countDownDate = new Date("August 26, 2023 16:30:00");


        let x = setInterval(() => {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);





            this.innerHTML = `
                <span class="day-countdown__block" data-days>
                    ${days}
                    <span class="">days</span>
                </span>
                <span class="day-countdown__block" data-hours>
                    ${hours}
                    <span class="">hours</span>
                </span>
                <span class="day-countdown__block" data-minutes>
                    ${minutes}
                    <span class="">minutes</span>
                </span>
                <span class="day-countdown__block" data-seconds>
                    ${seconds}
                    <span class="">seconds</span>
                </span>


            `

            // If the count down is finished, write some text
            if (distance < 0) {
                clearInterval(x);
                this.innerHTML = "IT'S TIME";
            }
        }, 1000);
    }


    calculate(toDate) {

    }

}

customElements.define("day-countdown", DayCountdown);


</script>

